.about-me {
  padding: 4em em;
  text-align: center;
  background: #ecf0f1;
}

.about-me:hover {
  transform: translateY(-10px);
}

.about-me-content {
  padding: 2rem;
}

.about-me .profile-image {
  border-radius: 10%;
  width: 165x;
  height: 254px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: px solid #3498db;
  transition: transform 0.3s ease-in-out;
}

.about-me .profile-image:hover {
  transform: rotate(360deg);
}

.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 2rem;
}

.education {
  margin-top: 2rem;
  text-align: left;
}

.education h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.education ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.education ul li {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background 1s ease;
}

.education ul li:hover {
  background: #f0f0f0;
}

.education ul li .icon {
  margin-right: 0.5rem;
  color: #3498db;
  font-size: 1.5rem;
}

.education ul li div {
  display: flex;
  flex-direction: column;
}

.education ul li div strong {
  font-size: 1.3rem;
  color: #333;
}

.education ul li div span {
  font-size: 1rem;
  color: #777;
}
